<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        {% for task in tasks %}
        <div>
            <p>{{task.title}}</p>
            <p>{{task.status}}</p>
            <p>{{task.deadline}}</p>
            <a href="/tasks/delete_task/{{ task.id }}/">Удалить</a>
        </div>
         {% empty %}
            <p>Нет данных</p>
        {% endfor %}
    </div>
    <div>
        <a class="btn btn-sm btn-outline-primary fs-5 px-3 lh-lg" href="/create_task">Добавить статью</a>
    </div>
</body>
</html>