{% extends "base.html" %}
{% block content %}
        <div class="card my-5">
        <div class="card-header fs-4 text-center py-3">Создание задачи</div>
        <div class="card-body">
            {% include 'partial/task_form.html' %}
        </div>
        <div class="card-footer text-end py-3">
            <a href="{% url 'main' %}" class="btn btn-sm btn-secondary me-2">Отмена</a>
            <button type="submit" form="task-form" class="btn btn-sm btn-primary">Сохранить</button>
        </div>
    </div>

{% endblock %}

