{% extends "base.html" %}
{% block nav %}
     <a class="btn btn-primary btn-m" href="{% url 'create_task' %}">Добавить задачу</a>
{% endblock %}
{% block content %}
    <div class="card my-5">
        <div class="card-header fs-4 text-center">{{task.status}}</div>
        <div class="card-body">
            <figure>
                 <blockquote class="blockquote">
                    <p> <b>Задание:</b> {{ task.title }}</p>
                </blockquote>

                <blockquote class="blockquote">
                    <p>{{ task.description|linebreaks }}</p>
                </blockquote>

                <figcaption class="blockquote-footer mt-3">
                   <b>Дедлайн:</b>:</b> {{ task.deadline }}
                </figcaption>
            </figure>
        </div>
        <div class="card-footer d-flex justify-content-end gap-2 py-3">
            <a href="{% url 'main' %}" class="btn btn-sm btn-secondary">Назад</a>
            <a href="{% url 'update_task' task.pk %}" class="btn btn-sm btn-warning">Редактировать</a>
            <a href="{% url 'delete_task' task.pk %}" class="btn btn-sm btn-danger">Удалить</a>
        </div>
    </div>
{% endblock %}