{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="card my-5">
        <div class="card-header fs-4 text-center py-3">Создание статьи</div>
        <div class="card-body">
{#            {% include 'partial/article_form.html' with action=action %}#}
            <form action="" id="article-form" method="POST">
                {% csrf_token %}
                {% bootstrap_form form layout="floating" %}
            </form>
        </div>
        <div class="card-footer text-end py-3">
            <button type="submit" form="article-form" class="btn btn-sm btn-primary">Сохранить</button>
        </div>
    </div>
{% endblock %}